Repository fluxerjs/core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,vue}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

fix: unstick docs/CI builds and fail fast on bad bot tokens
  .github/workflows/ci.yml
  .gitignore
  .npmrc
  apps/docs/app/layout.tsx
  apps/docs/components/AppShell.tsx
  apps/docs/content/guides/sharding.mdx
  apps/docs/package.json
  apps/docs/scripts/write-search-index.ts
  apps/docs/tsconfig.json
  apps/docs/turbo.json
  biome.json
  package.json
  packages/fluxer-core/src/ClientCore/GatewayReady.ts
  packages/sharding/src/index.ts
  scripts/generate-docs.ts
  scripts/test-bot-login.mjs
  scripts/test-smoke.mjs
Due: eslint --fix, prettier --write

Deps Updats
  apps/docs/package.json
  packages/rest/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Prevent GuildCreate from firing for existing guilds during initial gateway hydration.
  .changeset/big-wolves-guess.md
  packages/fluxer-core/src/ClientCore/Client.ts
  packages/fluxer-core/src/ClientCore/EventHandlers/Guilds.ts
  packages/fluxer-core/src/ClientCore/GatewayReady.ts
Due: eslint --fix, prettier --write

rebase: revert all changes; update guild availability truthiness checks
  packages/fluxer-core/src/ClientCore/Client.ts
  packages/fluxer-core/src/ClientCore/EventHandlers/Guilds.ts
  packages/fluxer-core/src/ClientCore/GatewayReady.ts
Due: eslint --fix, prettier --write

Prevent GuildCreate from firing for existing guilds during initial ga… (#66)
  .changeset/big-wolves-guess.md
  packages/fluxer-core/src/ClientCore/Client.ts
  packages/fluxer-core/src/ClientCore/EventHandlers/Guilds.ts
  packages/fluxer-core/src/ClientCore/GatewayReady.ts
Due: eslint --fix, prettier --write

Bump Next to 15.5.25 and add OpenAPI exception
  apps/docs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/openapi/assert-alignment.ts
Due: eslint --fix, prettier --write

Types Fixes
  packages/fluxer-core/src/ClientCore/GatewayReady.ts
  packages/types/src/Gateway/Payloads.test.ts
  packages/types/src/Gateway/Payloads.ts
Due: eslint --fix, prettier --write

V3.2.0 Announcement Channels
  apps/docs/content/guides/channels.mdx
  apps/docs/content/guides/migration.mdx
  apps/docs/content/guides/where-do-i.mdx
  apps/docs/data/changelog.ts
  apps/docs/lib/access-paths.ts
  packages/docgen/src/Filter.ts
  packages/fluxer-core/package.json
  packages/fluxer-core/src/ClientCore/SdkOptions/Channels.ts
  packages/fluxer-core/src/ClientCore/SdkOptions/SdkOptions.test.ts
  packages/fluxer-core/src/Domain/Channel/Base.ts
  packages/fluxer-core/src/Domain/Channel/Factory.ts
  packages/fluxer-core/src/Domain/Channel/Guild.ts
  packages/fluxer-core/src/Domain/Channel/index.ts
  packages/fluxer-core/src/TestKit/Contracts.test.ts
  packages/fluxer-core/src/index.ts
  packages/types/package.json
  packages/types/src/Api/Channel.ts
  packages/types/src/Api/OpenapiConformance.test.ts
  scripts/openapi/generate.ts
Due: eslint --fix, prettier --write

Update changelog.ts
  apps/docs/data/changelog.ts
Due: eslint --fix, prettier --write

Package Updates
  packages/fluxer-core/src/TestKit/Contracts.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

Update Socket Badge version in README.md
  README.md
Due: prettier --write

chore: Gram editor's config ignored in project
  .gitignore
Due: none

feat(voice): boolean voice state options able to set on join
  packages/voice/src/VoiceManager.ts
  packages/voice/src/index.ts
Due: eslint --fix, prettier --write

feat(voice)!: `VoiceManager.updateVoiceState` accepts camelCase property keys - BREAKS keys for receiving options to `updateVoiceState`
  packages/voice/src/VoiceManager.ts
Due: eslint --fix, prettier --write

Nextjs Package Patches
  apps/docs/lib/guides.ts
  apps/docs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write
