Repository fluxerjs/core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fixes for version conflict
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/publish.yml
Due: prettier --write

Edge Issues
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/publish.yml
Due: prettier --write

chore: fix Prettier formatting
  .github/dependabot.yml
  apps/docs/index.html
  apps/docs/public/docs/latest/guides.json
  apps/docs/public/docs/latest/main.json
  apps/docs/public/docs/v1.0.8/guides.json
  apps/docs/public/docs/v1.0.8/main.json
  apps/docs/public/docs/versions.json
  apps/docs/src/pages/Changelog.vue
  apps/docs/src/pages/ClassPage.vue
  apps/docs/src/pages/Home.vue
  examples/README.md
  examples/reaction-roles-bot.js
  package.json
  packages/fluxer-core/src/client/ChannelManager.ts
  packages/fluxer-core/src/client/Client.ts
  packages/fluxer-core/src/client/EventHandlerRegistry.ts
  packages/fluxer-core/src/structures/Guild.ts
  packages/fluxer-core/src/structures/Message.ts
  packages/fluxer-core/src/structures/MessageReaction.ts
  packages/rest/src/RequestManager.ts
  packages/util/src/resolvers.ts
  packages/ws/src/WebSocketShard.ts
  scripts/generate-docs.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: fix tar vulnerability via pnpm override
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

fix: run prettier to fix formatting
  apps/docs/public/docs/latest/guides.json
  apps/docs/public/docs/latest/main.json
  apps/docs/public/docs/v1.0.9/guides.json
  apps/docs/public/docs/v1.0.9/main.json
  apps/docs/public/docs/versions.json
  apps/docs/src/App.vue
  apps/docs/src/components/Footer.vue
  apps/docs/src/components/SearchModal.vue
  apps/docs/src/components/SidebarNav.vue
  apps/docs/src/data/changelog.ts
  apps/docs/src/pages/Changelog.vue
  apps/docs/src/pages/DocsLayout.vue
  apps/docs/src/pages/GuidePage.vue
  apps/docs/src/pages/GuidesLayout.vue
  apps/docs/src/styles/main.css
  package.json
  packages/fluxer-core/src/client/Client.ts
  packages/fluxer-core/src/structures/Channel.ts
  packages/fluxer-core/src/structures/Guild.ts
  packages/fluxer-core/src/structures/Invite.ts
  packages/fluxer-core/src/structures/Webhook.ts
  packages/types/src/api/guild.ts
Due: eslint --fix, prettier --write

Switch project license to Apache-2.0
  LICENSE
  README.md
  apps/docs/package.json
  package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/fluxer-core/package.json
  packages/rest/package.json
  packages/types/package.json
  packages/util/package.json
  packages/voice/package.json
  packages/ws/package.json
Due: prettier --write

Patch Fixes Bump VER
  apps/docs/package.json
  apps/docs/public/docs/latest/main.json
  package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/docgen/package.json
  packages/fluxer-core/package.json
  packages/fluxer-core/src/client/Client.ts
  packages/fluxer-core/src/client/MessageManager.ts
  packages/fluxer-core/src/structures/MessageReaction.ts
  packages/rest/package.json
  packages/types/package.json
  packages/util/package.json
  packages/voice/package.json
  packages/ws/package.json
Due: eslint --fix, prettier --write

Add GuildMember & Users managers, update docs/types
  .nvmrc
  apps/docs/package.json
  apps/docs/public/docs/v1.1.2/guides.json
  apps/docs/public/docs/v1.1.2/main.json
  apps/docs/public/docs/versions.json
  apps/docs/src/data/changelog.ts
  apps/docs/src/data/guides.ts
  examples/ping-bot.js
  package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/docgen/package.json
  packages/fluxer-core/package.json
  packages/fluxer-core/src/client/Client.ts
  packages/fluxer-core/src/client/EventHandlerRegistry.ts
  packages/fluxer-core/src/client/GuildMemberManager.ts
  packages/fluxer-core/src/client/UsersManager.ts
  packages/fluxer-core/src/errors/ErrorCodes.ts
  packages/fluxer-core/src/index.ts
  packages/fluxer-core/src/structures/Guild.ts
  packages/fluxer-core/src/structures/Role.ts
  packages/rest/package.json
  packages/types/package.json
  packages/types/src/api/role.ts
  packages/types/src/api/user.ts
  packages/types/src/rest/routes.ts
  packages/util/package.json
  packages/util/src/PermissionsBitField.test.ts
  packages/util/src/PermissionsBitField.ts
  packages/util/src/index.ts
  packages/voice/package.json
  packages/voice/src/LiveKitRtcConnection.ts
  packages/ws/package.json
  pnpm-lock.yaml
  vercel.json
Due: eslint --fix, prettier --write

Update vercel.json
  vercel.json
Due: prettier --write

docs: publish v1.1.5 docs & gateway events
  apps/docs/package.json
  apps/docs/public/docs/v1.1.5/guides.json
  apps/docs/public/docs/v1.1.5/main.json
  apps/docs/public/docs/versions.json
  apps/docs/src/components/GuideTable.vue
  apps/docs/src/data/changelog.ts
  apps/docs/src/data/guides.ts
  apps/docs/src/pages/GuidePage.vue
  package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/docgen/package.json
  packages/fluxer-core/package.json
  packages/rest/package.json
  packages/types/package.json
  packages/types/src/gateway/events.ts
  packages/types/src/gateway/payloads.ts
  packages/util/package.json
  packages/voice/package.json
  packages/ws/package.json
Due: eslint --fix, prettier --write

Docs Update
  apps/docs/public/docs/latest/main.json
  apps/docs/public/docs/v1.1.5/main.json
  apps/docs/src/App.vue
  apps/docs/src/components/ApiCategorySection.vue
  apps/docs/src/components/ApiEndpointCard.vue
  apps/docs/src/components/ApiSchemaBlock.vue
  apps/docs/src/components/SidebarNav.vue
  apps/docs/src/data/apiEndpoints.ts
  apps/docs/src/pages/ApiReferenceLayout.vue
  apps/docs/src/pages/ApiReferencePage.vue
  apps/docs/src/pages/GuidesIndex.vue
  apps/docs/src/pages/GuidesLayout.vue
  apps/docs/src/pages/Home.vue
  apps/docs/src/router.ts
Due: eslint --fix, prettier --write

Update ping-bot.js
  examples/ping-bot.js
Due: eslint --fix, prettier --write

Initial Commit To Update to refactored fluxer.
  apps/docs/package.json
  apps/docs/public/docs/v1.0.0-r/guides.json
  apps/docs/public/docs/v1.0.0-r/main.json
  apps/docs/public/docs/versions.json
  apps/docs/src/data/apiEndpoints.ts
  apps/docs/src/data/changelog.ts
  package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/docgen/package.json
  packages/fluxer-core/package.json
  packages/fluxer-core/src/client/ChannelManager.ts
  packages/fluxer-core/src/client/Client.ts
  packages/fluxer-core/src/client/EventHandlerRegistry.ts
  packages/fluxer-core/src/client/MessageManager.ts
  packages/fluxer-core/src/errors/ErrorCodes.ts
  packages/fluxer-core/src/structures/Guild.ts
  packages/fluxer-core/src/structures/GuildEmoji.ts
  packages/fluxer-core/src/structures/GuildMember.ts
  packages/fluxer-core/src/structures/GuildSticker.ts
  packages/fluxer-core/src/structures/MessageReaction.ts
  packages/fluxer-core/src/structures/User.ts
  packages/fluxer-core/src/structures/Webhook.ts
  packages/fluxer-core/src/util/Events.ts
  packages/fluxer-core/src/util/Options.ts
  packages/fluxer-core/src/util/cdn.ts
  packages/rest/package.json
  packages/rest/src/RequestManager.ts
  packages/types/package.json
  packages/types/src/api/instance.ts
  packages/types/src/gateway/events.ts
  packages/types/src/gateway/payloads.ts
  packages/types/src/rest/routes.ts
  packages/util/package.json
  packages/voice/package.json
  packages/ws/package.json
Due: eslint --fix, prettier --write

Small fixes
  apps/docs/package.json
  package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/docgen/package.json
  packages/fluxer-core/package.json
  packages/fluxer-core/src/client/EventHandlerRegistry.ts
  packages/rest/package.json
  packages/types/package.json
  packages/util/package.json
  packages/voice/package.json
  packages/ws/package.json
Due: eslint --fix, prettier --write

Release v1.1.8: voice, payloads, docs
  apps/docs/package.json
  apps/docs/public/docs/v1.1.8/guides.json
  apps/docs/public/docs/v1.1.8/main.json
  apps/docs/public/docs/versions.json
  apps/docs/src/data/changelog.ts
  apps/docs/src/data/guides.ts
  examples/ping-bot.js
  package.json
  packages/builders/package.json
  packages/collection/package.json
  packages/docgen/package.json
  packages/fluxer-core/package.json
  packages/fluxer-core/src/client/Client.ts
  packages/fluxer-core/src/client/EventHandlerRegistry.ts
  packages/fluxer-core/src/errors/ErrorCodes.ts
  packages/fluxer-core/src/index.ts
  packages/fluxer-core/src/structures/PartialMessage.ts
  packages/fluxer-core/src/structures/User.ts
  packages/fluxer-core/src/util/Constants.ts
  packages/fluxer-core/src/util/cdn.ts
  packages/rest/package.json
  packages/types/package.json
  packages/types/src/gateway/payloads.ts
  packages/util/package.json
  packages/util/src/emojiShortcodes.generated.ts
  packages/util/src/emojiShortcodes.ts
  packages/util/src/index.ts
  packages/voice/package.json
  packages/voice/src/LiveKitRtcConnection.ts
  packages/voice/src/VoiceManager.ts
  packages/ws/package.json
  packages/ws/src/WebSocketManager.ts
  packages/ws/src/WebSocketShard.ts
  pnpm-lock.yaml
  scripts/generate-emoji-shortcodes.ts
Due: eslint --fix, prettier --write

Delete vercel.json
  vercel.json
Due: prettier --write

Set up Vercel Web Analytics
  apps/docs/src/data/guides.ts
Due: eslint --fix, prettier --write

Removed SSG
  .gitignore
  README.md
  apps/docs/package.json
  apps/docs/public/docs/latest/main.json
  apps/docs/public/docs/v1.1.8/main.json
  apps/docs/src/main.ts
  apps/docs/src/stores/docs.ts
  apps/docs/src/stores/guides.ts
  apps/docs/src/stores/version.ts
  apps/docs/vite.config.d.ts
  apps/docs/vite.config.js
  apps/docs/vite.config.ts
Due: eslint --fix, prettier --write

Removed SSG
  pnpm-lock.yaml
Due: prettier --write

fix: Updated types to match API emoji, id is not present if default emoji
  packages/types/src/gateway/payloads.ts
Due: eslint --fix, prettier --write

feat: Included GuildChannel into ChannelManager return type in the case you grab a guild channel ID lol
  packages/fluxer-core/src/client/ChannelManager.ts
  packages/fluxer-core/src/client/EventHandlerRegistry.ts
Due: eslint --fix, prettier --write

fix: Added bigint to bitfield resolvable
  packages/util/src/BitField.ts
Due: eslint --fix, prettier --write

Add tsup configs and simplify build scripts
  apps/docs/public/docs/latest/guides.json
  apps/docs/public/docs/latest/main.json
  apps/docs/public/docs/v1.2.0/guides.json
  apps/docs/public/docs/v1.2.0/main.json
  apps/docs/src/composables/useSearchIndex.ts
  apps/docs/src/data/guides.ts
  packages/builders/package.json
  packages/builders/tsup.config.ts
  packages/collection/package.json
  packages/collection/tsup.config.ts
  packages/docgen/package.json
  packages/docgen/tsup.config.ts
  packages/fluxer-core/package.json
  packages/fluxer-core/tsup.config.ts
  packages/rest/package.json
  packages/rest/tsup.config.ts
  packages/types/package.json
  packages/types/tsup.config.ts
  packages/util/package.json
  packages/util/src/emojiShortcodes.generated.ts
  packages/util/tsup.config.ts
  packages/voice/package.json
  packages/voice/tsup.config.ts
  packages/ws/package.json
  packages/ws/tsup.config.ts
Due: eslint --fix, prettier --write

Improved and fixed favicon
  apps/docs/public/favicon.svg
Due: none

Docs Improvement
  apps/docs/public/docs/latest/guides.json
  apps/docs/public/docs/latest/main.json
  apps/docs/public/docs/v1.2.1/guides.json
  apps/docs/public/docs/v1.2.1/main.json
  apps/docs/src/components/SearchModal.vue
  apps/docs/src/composables/useSearchIndex.ts
  apps/docs/src/data/guides.ts
Due: eslint --fix, prettier --write

Oops - Fixed Broken changes in voice because of packing
  apps/docs/src/data/changelog.ts
  packages/voice/package.json
  packages/voice/src/LiveKitRtcConnection.ts
  packages/voice/tsup.config.ts
Due: eslint --fix, prettier --write

added vite build artifacts to gitignore
  .gitignore
Due: none

Update vite config to use const instead of var and modern syntax
  apps/docs/vite.config.js
Due: eslint --fix, prettier --write

feat(core): Added isLink() function for Channel objects
  packages/fluxer-core/src/structures/Channel.ts
Due: eslint --fix, prettier --write

fix(core): Added type guards for isDM() and isVoice() on Channel
  packages/fluxer-core/src/structures/Channel.ts
Due: eslint --fix, prettier --write

BREAKING CHANGE(core): Renamed isSendable() to isTextBased() because it could confuse people thinking it does permission checks
  packages/fluxer-core/src/structures/Channel.ts
Due: eslint --fix, prettier --write

chore(core): Made LinkChannel.url a key-required field
  packages/fluxer-core/src/structures/Channel.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,vue}
  prettier --write: (any of: *.{ts,tsx,js,vue}) or (any of: *.{json,md,yml,yaml})
